<settings>
  <category label="30200">
    <setting id="location" type="enum" lvalues="30205|30206|30207" label="30204" default="2"/>
	<setting type="sep"/>
    <setting id="thumbnailhack" type="bool" label="30240" default="true"/>
    <setting id="fanart" type="bool" label="30243" default="true"/>
	<setting type="sep"/>
	<setting id="debug" type="bool" label="30215" default="false"/>
  </category>
  <category label="30201">
    <setting id="streamquality" type="enum" lvalues="30213|30214" label="30212" default="1"/>
    <setting id="livequality" type="enum" lvalues="30209|30210|30211" label="30208" default="2"/>
	<setting type="sep"/>
    <setting id="ads" type="bool" label="30218" default="true"/>
	<setting type="sep"/>
    <setting id="videoplayer" type="enum" lvalues="30248|30249|30250" label="30247" default="2"/>

	<!-- disabled feature (broken in frodo)
    <setting id="autoplay" type="bool" label="30221" default="true"/>
	<setting id="autoresume" type="bool" label="30244" default="true"/>
	-->
	
	<!-- disabled feature (not ready)
	<setting type="sep"/>
    <setting id="replay" type="bool" label="30245" default="true"/>
	<setting id="useroffset" type="slider" label="30246" subsetting="true" default="30" range="10,5,100" option="int" />
	-->
	<setting id="firstrun" option="hidden" type="bool" visible="false" default="true" />
  </category>
  
</settings>
